 <div class="form-group">
 <mat-form-field class="problem-input">
    <mat-label>Enter Zip Code</mat-label>
	<input matInput type="text"
          id="zipCode"
          [(ngModel)]="zipCode"
          placeholder="zip code"
          #zip = "ngModel"
          required maxlength="5" minlength="5" pattern="[0-9]+"
          >
     </mat-form-field>
 	<div *ngIf="zip.touched && zip.invalid"
    	class="alert alert-danger">
  		<div ng-show="zip.errors.required">
   			<p>5 digit zip required</p>
   		</div>
	</div>
</div>

<div class="form-group" *ngIf="!zip.invalid">
<button id="submit" name="submit" (click)= "onSelect(zipCode)">Submit</button>
</div>
<div class="form-group" *ngIf="selectedZip && !selectedZip.errorMessage">
<mat-card fxFlex class = "zipzdetailCard">
<mat-card-title class ="zipTitle">
<p>{{selectedZip.zipCode}}</p>
</mat-card-title>
<mat-card-subtitle class="zipSubTitle">Details</mat-card-subtitle>
<mat-card-content>
 <mat-list  class="zip-detail">
 	<mat-list-item >Country: {{selectedZip.country}} ({{selectedZip.countryAbb}})</mat-list-item>
 	<mat-list-item >State: {{selectedZip.places[0]["state"]}} ({{selectedZip.places[0]["state abbreviation"]}})</mat-list-item>
  	<mat-list-item >City: {{selectedZip.places[0]["place name"]}}</mat-list-item>
  </mat-list>
 </mat-card-content>
 </mat-card>
</div>
<div class="form-group" *ngIf="selectedZip && selectedZip.errorMessage">
<mat-card fxFlex class = "zipErrorCard">
<mat-card-title>{{selectedZip.zipCode}}</mat-card-title>
<mat-card-subtitle class="zipErrorSubTitle">{{selectedZip.errorMessage}}</mat-card-subtitle>
</mat-card>
</div>
 

